# Python
*.pyc
__pycache__/

# Entornos virtuales
venv/
env/

# Bases de datos locales
*.sqlite3

# Configuración de IDEs
.vscode/
*.sublime-workspace
*.sublime-project

# Archivos de sistema
.DS_Store
Thumbs.db
*.lnk
*.log

# Archivos temporales de OneDrive / Windows
AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
Saved Games/
Searches/
Videos/
ntuser.dat*
OneDrive/
